div.article-share
  script(type='text/javascript', src=url_for(theme.js) + '/share.js' + '?v=' + theme.version, async)
  a.article-share-link(data-url='', data-id='#{page._id}')= __('shareto')
  div.article-share-box: div.article-share-links
    - each target in theme.share_targets
      if target == 'twitter'
        a.article-share-twitter(target='_blank', title='Twitter')
      if target == 'facebook'
        a.article-share-facebook(target='_blank', title='Facebook')
      if target == 'sinaweibo'
        a.article-share-sinaweibo(target='_blank', title='Sina Weibo')
      if target == 'wechat'
        a.article-share-wechat(target='_blank', title='Wechat')