:root { 
  font-family: var(--el-font-family);
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 360px;
  min-height: 100vh;
}

#app {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--el-color-primary);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
