if theme.google_search == true
  .widget
    form(action='//www.google.com/search' method='get' accept-charset='utf-8' class='search-form' target='_blank')
      input(type='text' name='q' maxlength='20' placeholder='Search')
      input(type='hidden' name='sitesearch' value='#{config.url}')
