if theme.google_search == true
  .widget
    form(action='//www.google.com/search' method='get' accept-charset='utf-8' class='search-form' target='_blank')
      input(type='text' name='q' maxlength='20' placeholder='Google')
      input(type='hidden' name='sitesearch')
      script= "var input=document.getElementsByName('sitesearch')[0];if(input){input.setAttribute('value', window.location.host);}"
