body {
  background-color: white;
  color: #444;
  font-family: "PingFang SC", "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875em; }

.pure-g [class*="pure-u"] {
  font-family: "PingFang SC", "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif; }

.body_container {
  padding: 0 60px;
  max-width: 1150px;
  margin: 0 auto; }

.content_container {
  padding: 20px 50px 0 0; }

a {
  color: #6E7173;
  text-decoration: none;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; }
  a:hover, a:active {
    color: #444; }

#header {
  text-align: left;
  border-bottom: 1px solid #ddd;
  position: relative; }
  #header .site-name {
    margin-top: 50px;
    margin-bottom: 40px; }
    #header .site-name h1 {
      padding: 0;
      margin: 0;
      height: 0;
      overflow: hidden; }
    #header .site-name #logo {
      font-weight: bold;
      line-height: 1.12;
      font-size: 2.75em;
      color: #555; }
      #header .site-name #logo:hover {
        color: #777; }
    #header .site-name p.description {
      margin: .2em 0 0;
      color: #999; }
  #header #nav-menu {
    margin: 10px 0 -1px;
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0; }
    #header #nav-menu a {
      display: inline-block;
      padding: 0 15px;
      line-height: 27px;
      height: 27px;
      font-size: 0.85em;
      border: 1px solid transparent; }
      #header #nav-menu a:hover {
        border-bottom-color: #444; }
      #header #nav-menu a.current {
        border: 1px solid #ddd;
        border-bottom-color: white; }

/* middle size */
@media print, screen and (max-width: 48em) {
  .body_container {
    padding: 0 30px; }
  .content_container {
    padding-right: 0; }
  #sidebar {
    display: none; }
  #header .site-name {
    margin-bottom: 20px;
    text-align: center; }
  #header #nav-menu {
    position: relative;
    text-align: center; } }

/* small*/
@media print, screen and (max-width: 35.5em) {
  .body_container {
    padding: 0 15px; } }

#sidebar-container {
  padding: 40px 0 20px;
  position: fixed; }

#sidebar {
  font-family: sans-serif;
  border-left: 1px solid #ddd;
  word-wrap: break-word;
  padding-left: 35px; }
  #sidebar .widget {
    display: block;
    margin-bottom: 30px; }
    #sidebar .widget .widget-title {
      display: block;
      color: #6E7173;
      line-height: 2.7;
      font-size: 1.2em;
      font-weight: normal;
      margin-top: 0;
      border-bottom: 1px solid #ddd; }
    #sidebar .widget .tagcloud {
      margin-top: 10px; }
      #sidebar .widget .tagcloud a {
        line-height: 1.5;
        padding: 5px; }
    #sidebar .widget ul {
      list-style: none;
      padding: 0; }
      #sidebar .widget ul li {
        margin: 5px 0;
        line-height: 1.5; }
    #sidebar .widget .post-list li {
      border-bottom: 1px #F0F0F0 solid; }
    #sidebar .widget .search-form {
      overflow: hidden;
      height: 50px; }
      #sidebar .widget .search-form input {
        width: 65%;
        outline: none;
        background: #fff 8px 8px no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6%2BR8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA%2FN0AAINkAABw6AAA7GgAADA%2BAAAQkOTsmeoAAAESSURBVHjajNCxS9VRGMbxz71E4OwgoXPQxVEpXCI47%2BZqGP0LCoJO7UVD3QZzb3SwcHB7F3Uw3Zpd%2FAPCcJKG7Dj4u%2FK7Pwp94HDg5Xyf5z1Pr9YKImKANTzFXxzjU2ae6qhXaxURr%2FAFl9hHDy%2FwEK8z89sYVEp5gh84wMvMvGiSJ%2FEV85jNzLMR1McqfmN5BEBmnmMJFSvtpH7jdJiZv7q7Z%2BZPfMdcF6rN%2FT%2F1m2LGBkd4HhFT3dcRMY2FpskxaLNpayciHrWAGeziD7b%2BVfkithuTk8bkGa4wgWFmbrSTZOYeBvjc%2BucQj%2FEe6xHx4Taq1nrnKaW8K6XUUsrHWuvNevdRRLzFGwzvDbXAB9cDAHvhedDruuxSAAAAAElFTkSuQmCC);
        padding: 7px 11px 7px 28px;
        line-height: 16px;
        border: 1px solid #ddd;
        border-radius: 5px; }

/* post */
.post {
  padding: 25px 0 15px;
  font-family: Avenir, "PingFang SC", "ff-tisa-web-pro", "Helvetica Neue", "STHeiti", Cambria, "Times New Roman", Georgia, Times, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
  .post .post-title {
    margin: 0;
    color: #555;
    text-align: left;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.1; }
    .post .post-title a {
      color: #555; }
  .post .post-meta {
    margin: 15px 0 0;
    color: #6E7173; }
    .post .post-meta:before {
      font-family: "FontAwesome";
      content: "\f073";
      padding-right: 0.3em; }
    .post .post-meta .category:before {
      font-family: "FontAwesome";
      content: "\f07c";
      padding-right: 0.3em; }
    .post .post-meta #busuanzi_value_page_pv:before {
      font-family: "FontAwesome";
      content: "\f024";
      padding-right: 0.3em; }
  .post .readmore {
    margin-top: -10px;
    padding: 0;
    position: relative;
    height: 40px; }
    .post .readmore a {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1em;
      color: #444;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 5px; }
      .post .readmore a:after {
        font-family: "FontAwesome";
        content: "\f101";
        padding-left: 0.3em; }
      .post .readmore a:hover {
        border-bottom-color: #D26911; }
  .post .article-share {
    float: right;
    margin: 0;
    position: relative; }
  .post .tags {
    padding-bottom: 1em; }
    .post .tags a {
      margin-right: .5em; }
      .post .tags a:before {
        font-family: "FontAwesome";
        content: "\f0c6";
        padding-right: 0.3em; }

/* post content */
.post-content {
  font-size: 1.1em;
  line-height: 1.77; }
  .post-content pre, .post-content code {
    font: normal 0.95em/1.3 Monaco, Consolas, monospace;
    border-radius: 5px; }
  .post-content pre code {
    padding: 1em; }
  .post-content code:not(.hljs) {
    padding: .25em .5em .1em;
    color: #29a284;
    background: #fafafa;
    border: 1px solid #e5e8ec;
    border-radius: .25em; }
  .post-content p a {
    text-decoration: none;
    color: #01579f;
    font-weight: bold; }
  .post-content h1 {
    font-size: 1.8em; }
  .post-content .table_container {
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    width: 100%; }
    .post-content .table_container table {
      margin: auto;
      width: 100%;
      background: transparent;
      border-collapse: collapse;
      border-spacing: 0;
      text-align: left;
      vertical-align: baseline; }
      .post-content .table_container table th {
        background-color: #b9c9fe;
        padding: 6px; }
      .post-content .table_container table td {
        background: #e8edff;
        border-top: 1px solid white;
        padding: 6px; }
  .post-content blockquote {
    margin: 0 30px 0 20px;
    padding-left: 10px;
    border-left: 5px solid #ddd; }
  .post-content img {
    max-width: 100%;
    padding: 0.5em 0;
    margin: auto;
    display: block; }

.page-navigator {
  border-top: 1px solid #ddd;
  margin-top: 25px;
  padding-top: 25px;
  font-size: 1em;
  text-align: center; }
  .page-navigator a, .page-navigator span {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 5px 9px;
    border: 1px solid #ddd;
    text-align: center; }
    .page-navigator a:hover, .page-navigator span:hover {
      background: #F8F8F8;
      border-bottom-color: #D26911; }
    .page-navigator a.prev, .page-navigator span.prev {
      float: left; }
      .page-navigator a.prev:before, .page-navigator span.prev:before {
        font-family: "FontAwesome";
        content: "\f100";
        padding-right: 0.3em; }
    .page-navigator a.next, .page-navigator span.next {
      float: right; }
      .page-navigator a.next:after, .page-navigator span.next:after {
        font-family: "FontAwesome";
        content: "\f101";
        padding-left: 0.3em; }
  .page-navigator .page-number {
    margin: 0 5px 5px 0; }
  .page-navigator .space {
    border: none;
    padding: 5px 5px; }
  .page-navigator .current {
    background: #F8F8F8;
    border-bottom-color: #D26911; }

.post-nav {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 10px;
  white-space: nowrap;
  border-top: 1px solid #eee; }
  .post-nav a {
    display: inline-block;
    line-height: 25px;
    font-size: 1.1em;
    color: #555; }
    .post-nav a.pre {
      float: left; }
      .post-nav a.pre:before {
        font-family: "FontAwesome";
        content: "\f0d9";
        padding-right: 0.3em; }
    .post-nav a.next {
      float: right; }
      .post-nav a.next:after {
        font-family: "FontAwesome";
        content: "\f0da";
        padding-left: 0.3em; }
    .post-nav a:hover {
      color: #222; }

/* footer */
#footer {
  padding: 10px 0 50px;
  margin-top: 1em;
  line-height: 2.5;
  color: #6E7173;
  text-align: center;
  font-size: 1em; }

/* archive */
.post-archive {
  font-size: 1.1em;
  line-height: 2; }
  .post-archive h2 {
    margin: 0;
    font: bold 1.6em/1.1 Avenir, "PingFang SC", "ff-tisa-web-pro", "Helvetica Neue", "STHeiti", Cambria, "Times New Roman", Georgia, Times, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
  .post-archive ul {
    padding-left: 25px; }
    .post-archive ul li .date {
      margin-right: .7em; }

/* article-share*/
.article-share-link {
  cursor: pointer;
  margin-left: 20px; }
  .article-share-link:before {
    font-family: "FontAwesome";
    content: "\f064";
    padding-right: 6px; }

.article-share-box {
  position: absolute;
  display: none;
  background: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  width: 200px;
  z-index: 1; }
  .article-share-box.on {
    display: block; }

.article-share-input {
  width: 100%;
  box-sizing: border-box;
  font: 1em "PingFang SC", "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;
  padding: 0 8px;
  color: #444;
  border: none;
  outline: none;
  border-bottom: 1px solid #ddd;
  height: 36px;
  line-height: 36px; }

.article-share-element, .article-share-twitter, .article-share-facebook, .article-share-weibo, .article-share-wechat {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999; }
  .article-share-element:before, .article-share-twitter:before, .article-share-facebook:before, .article-share-weibo:before, .article-share-wechat:before {
    font: 1.5em "FontAwesome";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    text-align: center; }
  .article-share-element:hover, .article-share-twitter:hover, .article-share-facebook:hover, .article-share-weibo:hover, .article-share-wechat:hover {
    color: white; }

.article-share-twitter:before {
  content: "\f099"; }

.article-share-twitter:hover {
  background: #00aced; }

.article-share-facebook:before {
  content: "\f09a"; }

.article-share-facebook:hover {
  background: #3b5998; }

.article-share-weibo:before {
  content: "\f18a"; }

.article-share-weibo:hover {
  background: #d44137; }

.article-share-wechat:before {
  content: "\f1d7"; }

.article-share-wechat:hover {
  background: #38ad5a; }
