// font
$defaultFontFamily: "PingFang SC", "TIBch", "Classic Grotesque W01", "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, sans-serif;

$postFontFamily: Avenir, "PingFang SC", "ff-tisa-web-pro", "Helvetica Neue", "STHeiti", Cambria, "Times New Roman", Georgia, Times, "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

$codeFontFamily: Monaco, Consolas, monospace;

// constants
$defaultFontSize: 0.875em;
$navmenuFontSize: 0.85em;

$mainTextColor: #444;
$lightTextColor: #999;
$plainTextColor: #6E7173;

$postTitleColor: #555;
$postTableHeadColor: #b9c9fe;
$postTableContentColor: #e8edff;
$postLinkColor: #01579f;
    // a
$activeBackgroundColor: #F8F8F8;
$linkBorderBottomColor: #D26911;
    // 
$borderColor: #ddd;

// mixin
@mixin inlineCodeStyle() {
	padding: .25em .5em .1em;
    color: rgb(41,162,132);
    background: #fafafa;
    border: 1px solid #e5e8ec;
    border-radius: .25em;
}

@mixin transition($any) {
    -webkit-transition: $any;
    -moz-transition: $any;
    -o-transition: $any;
    transition: $any;
};

// styles
body {
    background-color: white;
    color: $mainTextColor;
    font-family: $defaultFontFamily;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $defaultFontSize;
}

.pure-g [class *="pure-u"] {
	font-family: $defaultFontFamily;
}

.body_container {
    padding: 0 60px;
    max-width: 1150px;
    margin: 0 auto;
}
.content_container {
    padding: 20px 50px 0 0;
}
a {
    color: #6E7173;
    text-decoration: none;
    @include transition(all .1s ease-in);
    &:hover, &:active {
        color: #444;
    }
}

#header {
    text-align: left;
    border-bottom: 1px solid $borderColor;
    position: relative;
    .site-name {
    	margin-top: 50px;
        margin-bottom: 40px;
        h1 {
            padding: 0;
            margin: 0;
            height: 0;
            overflow: hidden;
        }
        #logo {
        	font-weight: bold;
        	line-height: 1.12;
        	font-size: 2.75em;
            color: #555;
            &:hover {
                color: #777;
            }
        }
        p.description {
            margin: .2em 0 0;
            color: $lightTextColor;
        }
    }
    #nav-menu {
        margin: 10px 0 -1px;
        padding: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        a {
            display: inline-block;
			padding: 0 15px;
            line-height: 27px;
            height: 27px;
            font-size: $navmenuFontSize;
            border: 1px solid transparent;
            &:hover {
                border-bottom-color: $mainTextColor;
            }
            &.current {
                border: 1px solid $borderColor;
                border-bottom-color: white;
            }
        }
    }
}

/* middle size */
@media print, screen and (max-width: 48em) {
    .body_container {
        padding: 0 30px;
    }
    .content_container {
        padding-right: 0;
    }
    #sidebar {
        display: none;
    }
    #header {
        .site-name {
            margin-bottom: 20px;
            text-align: center;
        }
        #nav-menu {
            position: relative;
            text-align: center;
        }
    }
}

/* small*/
@media print, screen and (max-width: 35.5em) {
    .body_container {
        padding: 0 15px;
    }
}

#sidebar-container{
    padding: 40px 0 20px;
    position: fixed;    // js controls top & left & width.
}
#sidebar {
	font-family: sans-serif;
    border-left: 1px solid $borderColor;
    word-wrap: break-word;
    padding-left: 35px;
    .widget {
    	display: block;
        margin-bottom: 30px;
        .widget-title {
        	display: block;
            color: $plainTextColor;
            line-height: 2.7;
            font-size: 1.2em;
            font-weight: normal;
            margin-top: 0;
            border-bottom: 1px solid $borderColor;
        }
        .tagcloud {
            margin-top: 10px;
            a {
                line-height: 1.5;
                padding: 5px;
              }
        }
        ul {	// categories & recent posts
            list-style: none;
            padding: 0;
            li {
                margin: 5px 0;
                line-height: 1.5;
            }
        }
        .post-list li {
        	border-bottom: 1px #F0F0F0 solid;
        }
        .search-form {
	        overflow: hidden;
            height: 50px;
	        input {
                width: 65%;
                outline: none;
	            background: #fff 8px 8px no-repeat
	                url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6%2BR8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAG11AABzoAAA%2FN0AAINkAABw6AAA7GgAADA%2BAAAQkOTsmeoAAAESSURBVHjajNCxS9VRGMbxz71E4OwgoXPQxVEpXCI47%2BZqGP0LCoJO7UVD3QZzb3SwcHB7F3Uw3Zpd%2FAPCcJKG7Dj4u%2FK7Pwp94HDg5Xyf5z1Pr9YKImKANTzFXxzjU2ae6qhXaxURr%2FAFl9hHDy%2FwEK8z89sYVEp5gh84wMvMvGiSJ%2FEV85jNzLMR1McqfmN5BEBmnmMJFSvtpH7jdJiZv7q7Z%2BZPfMdcF6rN%2FT%2F1m2LGBkd4HhFT3dcRMY2FpskxaLNpayciHrWAGeziD7b%2BVfkithuTk8bkGa4wgWFmbrSTZOYeBvjc%2BucQj%2FEe6xHx4Taq1nrnKaW8K6XUUsrHWuvNevdRRLzFGwzvDbXAB9cDAHvhedDruuxSAAAAAElFTkSuQmCC);
	            padding: 7px 11px 7px 28px;
	            line-height: 16px;
	            border: 1px solid $borderColor;
	            border-radius: 5px;
	        }
	    }
    }
}

/* post */
.post {
	padding: 25px 0 15px;
	font-family: $postFontFamily;
	.post-title {
		margin: 0;
        color: $postTitleColor;
        text-align: left;
        font-weight: bold;
        font-size: 1.8em;
        line-height: 1.1;
        a {
            color: $postTitleColor;
        }
	}
	.post-meta {
		margin: 15px 0 0;
		color: $plainTextColor;
		&:before {
              font-family: "FontAwesome";
              content: "\f073";
              padding-right: 0.3em;
        }
        .category {
            &:before {
              font-family: "FontAwesome";
              content: "\f07c";
              padding-right: 0.3em;
            }
        }
        #busuanzi_value_page_pv {
            &:before {
              font-family: "FontAwesome";
              content: "\f024";
              padding-right: 0.3em;
            }
        }
	}
	.readmore {
        margin-top: -10px;
        padding: 0;
        position: relative;
        height: 40px;
        a {
            position: absolute;
            top: 0;
            right: 0;
    	    font-size: 1em;
    	    color: $mainTextColor;
    	    padding: 5px 10px;
    	    border: 1px solid $borderColor;
    	    border-radius: 5px;
    	    &:after {
    	        font-family: "FontAwesome";
    	        content: "\f101";
    	        padding-left: 0.3em;
    	    }
    	    &:hover {
    	        border-bottom-color: $linkBorderBottomColor;
    	    }
    	}
    }
	.article-share {
	    float: right;
        margin: 0;
        position: relative;
	}
	.tags {
        padding-bottom: 1em;
        a {
            margin-right: .5em;
            &:before {
                font-family: "FontAwesome";
                content: "\f0c6";
                padding-right: 0.3em;
            }
        }
    }
}

/* post content */
.post-content {
	font-size: 1.1em;
    line-height: 1.77;
	pre, code {
		font: normal 0.95em/1.3 $codeFontFamily;
		border-radius: 5px;
	}
	pre code {
		padding: 1em;
	}
	code:not(.hljs) {
	    @include inlineCodeStyle();
	}
	p a {
	    text-decoration: none;
	    color: $postLinkColor;
	    font-weight: bold;
	}
	h1 {
		font-size: 1.8em;
	}
	.table_container {
	    display: inline-block;
	    border-radius: 5px;
	    overflow: hidden;
	    width: 100%;
	    table {
			margin: auto;
		    width: 100%;
		    background: transparent;
		    border-collapse: collapse;
		    border-spacing: 0;
		    text-align: left;
		    vertical-align: baseline;
		    th {
			    background-color: $postTableHeadColor;
			    padding: 6px;
			}
			td {
			    background: $postTableContentColor;
			    border-top: 1px solid white;
			    padding: 6px;
			}
		}
	}
	blockquote {
		margin: 0 30px 0 20px;
	    padding-left: 10px;
	    border-left: 5px solid $borderColor;
	}
	img {
        max-width: 100%;
        padding: 0.5em 0;
        margin: auto;
        display: block;
    }
}

.page-navigator {
    border-top: 1px solid $borderColor;
    margin-top: 25px;
    padding-top: 25px;
    font-size: 1em;
    text-align: center;
    a, span {
        display: inline-block;
        height: 25px;
        line-height: 25px;
        padding: 5px 9px;
        border: 1px solid $borderColor;
        text-align: center;
        &:hover {
            background: $activeBackgroundColor;
            border-bottom-color: $linkBorderBottomColor;
        }
        &.prev {
            float: left;
            &:before {
                font-family: "FontAwesome";
                content: "\f100";
                padding-right: 0.3em;
            }
        }
        &.next {
            float: right;
            &:after {
                font-family: "FontAwesome";
                content: "\f101";
                padding-left: 0.3em;
            }
        }
    }
    .page-number {
        margin: 0 5px 5px 0;
    }
    .space {
        border: none;
        padding: 5px 5px;
    }
    .current {
        background: $activeBackgroundColor;
        border-bottom-color: $linkBorderBottomColor;
    }
}

.post-nav {
      overflow: hidden;
      margin-top: 15px;
      margin-bottom: 20px;
      padding: 10px;
      white-space: nowrap;
      border-top: 1px solid #eee;
      a {
        display: inline-block;
        line-height: 25px;
        font-size: 1.1em;
        color: $postTitleColor;
        &.pre {
            float: left;
            &:before {
              font-family: "FontAwesome";
              content: "\f0d9";
              padding-right: 0.3em;
            }
        }
        &.next {
            float: right;
            &:after {
              font-family: "FontAwesome";
              content: "\f0da";
              padding-left: 0.3em;
            }
        }
        &:hover {
            color: #222;
        }
    }
}

/* footer */
#footer {
    padding: 10px 0 50px;
    margin-top: 1em;
    line-height: 2.5;
    color: $plainTextColor;
    text-align: center;
    font-size: 1em;
}

/* archive */
.post-archive {
    font-size: 1.1em;
    line-height: 2;
    h2 {
        margin: 0;
        font: bold 1.6em/1.1 $postFontFamily;
    }
    ul {
        padding-left: 25px;
        li .date {
            margin-right: .7em;
        }
    }
}


/* article-share*/
.article-share-link {
    cursor: pointer;
    margin-left: 20px;
    &:before {
        font-family: "FontAwesome";
        content: "\f064";
        padding-right: 6px;
    }
}
.article-share-box {
  position: absolute;
  display: none;
  background: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  width: 200px;
  z-index: 1;
  &.on {
    display: block;
  }
}

.article-share-input {
  width: 100%;
  box-sizing: border-box;
  font: 1em $defaultFontFamily;
  padding: 0 8px;
  color: $mainTextColor;
  border: none;
  outline: none;
  border-bottom: 1px solid $borderColor;
  height: 36px;
  line-height: 36px;
}

.article-share-element {
    width: 50px;
    height: 36px;
    display: block;
    float: left;
    position: relative;
    color: $lightTextColor;
    &:before {
      font: 1.5em "FontAwesome";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -10px;
      text-align: center;
    }
    &:hover {
      color: white;
    }
}
.article-share-twitter {
  @extend .article-share-element;
  &:before {
    content: "\f099";
  }
  &:hover {
    background: #00aced;
  }
}

.article-share-facebook {
  @extend .article-share-element;
  &:before {
    content: "\f09a";
  }
  &:hover {
    background: #3b5998;
  }
}

.article-share-weibo {
  @extend .article-share-element;
  &:before {
    content: "\f18a";
  }
  &:hover {
    background: #d44137;
  }
}

.article-share-wechat {
  @extend .article-share-element;
  &:before {
    content: "\f1d7";
  }
  &:hover {
    background: #38ad5a;
  }
}

